<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResChew Route</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <div class="logo">
                <img src="../imgs/Logo3.png" alt="ResChew Meal">
            </div>
            <ul class="nav-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="issue.html">The Issue</a></li>
                <li><a href="ourwork.html">Our Work</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Take Action<i class="fa-solid fa-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="restaurant.html">Restaurant</a></li>
                        <li><a href="foodbank.html">Food Bank</a></li>
                        <li><a href="delivery.html">Delivery</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div class="guide">
        <h2>About</h2>
        <p>Introducing <strong>ResChew Route</strong>, an application that orchestrates the rescue and delivery of food before it expires!</p>
        <br>
        <div class="imp-notice">
            <p>
                <strong>OUR MISSION</strong><br>
                ResChew Route is dedicated to saving the environment by reducing food waste and greenhouse gas emissions from landfills, while also addressing food insecurity and world hunger. 
            </p>
        </div>
        <p>This platform ensures accessibility and efficiency when connecting restaurants, food banks, and delivery drivers through posts, orders, and tasks, in real-time!</p>
        <div class="about-next-steps">
            <p><em>Not sure where to head next?</em></p>
            <ul class="jot-points">
                <li><strong><a href="issue.html">The Issue</a></strong>: Learn more about the global issue of food waste and how it is a detriment to the environment, community sustainability, and world hunger</li>
                <li><strong><a href="ourwork.html">Our Work</a></strong>: Discover <em>ResChew Route</em>'s solution to this problem and our impact</li>
                <li><strong><em>Take Action:</em></strong> click on <strong><a href="restaurant.html">Restaurant</a></strong>, <strong><a href="foodbank.html">Food Bank</a></strong>, or <strong><a href="delivery.html">Delivery</a></strong> to be directed to your respective dashboard</li>
                <li><strong><a href="contact.html">Contact</a></strong>: Send inquiries, comments, or feedback</li>
            </ul>
        </div>
        <br>
        <p><strong>Technologies</strong></p>
        <ul class="jot-points">
            <li>Map Box API for map visual and distance calculation</li>
            <li>Database to store history of rescued food</li>
            <li>Flask for backend</li>
        </ul>
    </div>
    <br><br><br><br>
    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <img src="../imgs/Logo3.png" alt="ResChew Meal">
                <p>Helping good food find its next table</p>
            </div>
            <div class="footer-links">
                <div>
                    <h4>Explore</h4>
                    <a href="index.html">Home</a>
                    <a href="about.html">About</a>
                    <a href="issue.html">The Issue</a>
                    <a href="ourwork.html">Our Work</a>
                </div>

                <div>
                    <h4>Take action</h4>
                    <a href="restaurant.html">Restaurant</a>
                    <a href="foodbank.html">Food Bank</a>
                    <a href="delivery.html">Delivery</a>
                    <a href="contact.html">Contact</a>
                </div>
            </div>
        </div>
        <hr>
        <p class="creator">
            Created with 💖 by Iggy Minions 
        </p>
    </footer>

</body>

</html>