<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResChew Route</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <div class="logo">
                <i class="fa-solid fa-seedling"></i>
                <span>ResChew Route</span>
            </div>
            <ul class="nav-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="issue.html">The Issue</a></li>
                <li><a href="ourwork.html">Our Work</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Take Action<i class="fa-solid fa-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="restaurant.html">Restaurant</a></li>
                        <li><a href="foodbank.html">Food Bank</a></li>
                        <li><a href="delivery.html">Delivery</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div class="guide issue-guide">
        <h2>The Issue</h2>
        <p>Food waste is a major global issue that worsens hunger and food insecurity by draining nutrition while millions of individuals around the globe have limited or no access to food as a result of poverty and food shortages.</p> <br><p></p>According to the UN...</p><br>
        <div class="imp-notice">
            <p>
                <strong><h2>25-30% ~1.6 Billion tons</h2></strong>
                of total food produced is wasted every year, which is equivalent to
                <strong><h2>1 Billion</h2></strong>
                meals wasted per day
            </p>
        </div>
        <div class="imp-notice">
            <p>
                The food service sector is responsible for<strong><h2>290 million tons</h2></strong> of food wasted in 2022
            </p>
        </div>
    </div>
    <br><br><br><br>
    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <i class="fa-solid fa-seedling"></i>
                <span>ResChew Route</span>
            </div>
            <div class="footer-links">
                <div>
                    <h4>Main Pages</h4>
                    <a href="index.html">Home</a>
                    <a href="dashboard.html">Dashboard</a>
                    <a href="faq.html">FAQ</a>
                </div>

                <div>
                    <h4>Inner Pages</h4>
                    <a href="guide.html">Guide</a>
                    <a href="info.html">Info</a>
                    <a href="about.html">About</a>
                </div>
            </div>
        </div>
        <hr>
        <p class="creator">
            Created with 💖 by Iggy Minions 
        </p>
    </footer>

</body>

</html>